@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";



body {
  line-height: 1;
  background: white;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 50px;
}

* {
  box-sizing: border-box;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}
.wrapper {
   display: flex;
  //  flex-direction: row;
  //  flex-wrap: wrap-reverse;
   flex-flow: row wrap; // shorthand for flex-direction and flex-wrap combined 
   justify-content: center; // horizontal
   background: black;
   height: 700px;
   align-items: baseline; // vertical
}
.box {
  width: 100px;
  // height: 100px;
  background: red;
  border: 1px solid black;
}

.box2 {
  width: 400px;
  // height: 100px;
  background: blue;
  border: 1px solid black;
}

.box3 {
  width: 250px;
  // height: 100px;
  background: yellow;
  border: 1px solid black;
}